<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../head'); %>
  <body class="gap-4">
    <%- include('../topNav', {selected:'publisher'}); %>
    <div class="flex-row justify-around items-start gap-4 flex-wrap px-4">
      <%- include('./publisherAddForm'); %> <%- include('../searchForm'); %>
    </div>
    <%- include('./publisherTable', {publishers}); %>
  </body>
</html>
