<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../head'); %>
  <body class="gap-4">
    <%- include('../topNav', {selected:'book'}); %>
    <div class="flex-row justify-around items-start gap-4 flex-wrap px-4">
      <%- include('./bookAddForm'); %> <%- include('../searchForm'); %>
    </div>
    <%- include('./bookTable', {books}); %>
  </body>
  <% if (book) { %> <%- include('../modal', {book}); %> <% } %>
</html>
