<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../head'); %>
  <body class="gap-4">
    <%- include('../topNav'); %>
    <div class="flex-row justify-around items-start gap-4 flex-wrap">
      <%- include('./bookAddForm'); %> <%- include('../searchForm'); %>
    </div>
    <%- include('./bookTable', {books}); %>
  </body>
</html>
